appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
biopython @ file:///D:/bld/biopython_1668805900895/work
brotlipy @ file:///D:/bld/brotlipy_1666764911856/work
certifi==2022.12.7
cffi @ file:///D:/bld/cffi_1671179504620/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1661170624537/work
contourpy @ file:///D:/bld/contourpy_1667248121371/work
cryptography @ file:///D:/bld/cryptography-split_1672674258620/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
fonttools @ file:///D:/bld/fonttools_1666827191800/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1663332044897/work
kiwisolver @ file:///D:/bld/kiwisolver_1666805810106/work
matplotlib @ file:///D:/bld/matplotlib-suite_1667505124848/work
munkres==1.1.4
numpy @ file:///D:/bld/numpy_1672415894508/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1670530880680/work
pandas @ file:///D:/bld/pandas_1669134777944/work
Pillow @ file:///D:/bld/pillow_1672675445317/work
ply==3.11
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1643032624649/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1672659226110/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
PyQt5==5.15.7
PyQt5-sip @ file:///D:/bld/pyqt-split_1666830017121/work/pyqt_sip
PySocks @ file:///D:/bld/pysocks_1661604991356/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1671365381334/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1661872987712/work
scikit-learn @ file:///D:/bld/scikit-learn_1670523714286/work
scipy==1.10.0
sip @ file:///D:/bld/sip_1669040074882/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1643647933166/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
tornado @ file:///D:/bld/tornado_1666788847934/work
unicodedata2 @ file:///D:/bld/unicodedata2_1667240053339/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1669259737463/work
win-inet-pton @ file:///D:/bld/win_inet_pton_1667051142467/work
